backend/backend/settings.py
backend/backend/settingsL.py
backend/backend/settingsS.py
backend/backend/settings.Spy
backend/settings.py
backend/settingsL.py
backend/settingsS.py
backend/static/images/
backend/venv/
*.sqlite3
*.sqlite3.old
backend/wedmangal_backup.sql
backend/wedmangal_data.json
frontend/node_modules/
__pycache__/
*.pyc
.env

backend/google-chrome-stable_current_amd64.deb
